
/*box category inventory*/
div.box-category-inventory{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

div.box-outside-control{
	width: 100%;
	margin: 10px 0;

	display: flex;
	justify-content: space-around;

	background-color: #ffffff;
}

div.box-outside-control .box-buttons{
	width: fit-content;
	margin: 10px 0;

	display: flex;
	align-items: center;

	color: #4d4d4d;
}

div.box-outside-control .box-buttons label,
div.box-outside-control .box-buttons select{
	width: fit-content;
	margin: 0 5px;
	font-family: "raleway-medium", sans-serif;
	font-size: 13px;
	border: transparent;
}


/*box category*/
div.box-category{
	width: 15%;
	margin-bottom: 10px;

	background-color: #ffffff;
}

div.box-category strong,
div.box-category p{
	display: block;
	width: fit-content;
	margin: 0 auto;
}

div.box-category strong{
	margin-top: 30px;
	margin-bottom: 20px;

	font-family: "raleway-semibold", sans-serif;
	font-size: 35px;
}

div.box-category p{
	margin-top: 10px;
	margin-bottom: 30px;

	font-family: "raleway-regular", sans-serif;
	font-size: 16px;
}

.box-alert-success strong{
	color: #00cc99;
}
.box-alert-secundary strong{
	color: #0099ff;
}
.box-alert-warning strong{
	color: #ffcc00;
}
.box-alert-error strong{
	color: #ff3300;
}

/*box chart lines*/
div.box-chart-lines{
	background-color: #ffffff;
}

div.chart-lines{
	width: 850px;
	height: 260px;
	margin: 10px auto;

	display: flex;

	position: relative;
}

div.box-table{
	background-color: #ffffff;
}

div.box-table-head label{
	display: block;
	width: 20%;
}

div.box-table-body article p{
	width: 20%;
}

div.box-table-body article p small{
	color: #339966;
}