

div.box-table-client .box-table-head label:nth-child(1){
	width: 20%;
}
div.box-table-client .box-table-head label:nth-child(2){
	width: 20%;
}
div.box-table-client .box-table-head label:nth-child(3){
	width: 25%;
}
div.box-table-client .box-table-head label:nth-child(4){
	width: 10%;
}
div.box-table-client .box-table-head label:nth-child(5){
	width: 10%;
}
div.box-table-client .box-table-head label:nth-child(6){
	width: 10%;
}


div.box-table-body-client article p:nth-child(1){
	width: 20%;
}
div.box-table-body-client article p:nth-child(2){
	width: 20%;
}
div.box-table-body-client article p:nth-child(3){
	width: 25%;
}
div.box-table-body-client article p:nth-child(4){
	width: 10%;
}
div.box-table-body-client article p:nth-child(5){
	width: 10%;
}
div.box-table-body-client article p:nth-child(6){
	width: 10%;
	display: flex;
	justify-content: center;
}


form.box-update-details-client > div:nth-child(1){
	width: 15%;	
}
form.box-update-details-client > div:nth-child(2){
	width: 60%;	
}
form.box-update-details-client > div:nth-child(3){
	width: 20%;	
}

form.box-update-details-client > div figure{
	width: 100px;
	height: 80px;
	margin: 10px auto;
	position: relative;
}

form.box-update-details-client > div figure img{
	width: 100%;
	height: 100%;

	border-radius: 4px;
	object-fit: cover;
}

form.box-update-details-client > div figure label{
	display: flex;
	/*border: 1px solid;*/
	width: fit-content;
	position: absolute;
	top: 0;
	left: -24px;
	padding: 0;
	background-color: transparent;
	cursor: pointer;
}

form.box-update-details-client > div figure label input{
	width: 0;
	height: 0;
}

form.box-update-details-client > div figure label span{
	font-size: 20px;
	color: #808080;
}

form.box-update-details-client > div h4,
form.box-update-details-client > div label{
	display: block;
	width: 70%;
	margin: 12px auto;

	font-size: 13px;
	font-family: "raleway-medium";
	color: #808080;
}

form.box-update-details-client > div select{
	display: block;
	width: 70%;
	margin: 10px auto;
}


form.box-update-details-client > div article{
	border: 1px solid transparent;
	width: 100%;	
	
	display: flex;
	flex-wrap: wrap;
}

form.box-update-details-client > div article input,
form.box-update-details-client > div article select{
	display: inline-block;

	width: 45%;
	margin: 5px auto;
}

form.box-update-details-client > div article button{
	width: fit-content;
	display: flex;
	justify-content: center;
	background-color: #f2f2f2;
}

.btn-send-verification-code{
	display: block;
	width: fit-content;
	margin-top: 20px;
	
	border: 1px solid #dddddd;
	border-radius: 2px;
	font-size: 14px;
	font-family: "raleway-regular";
	color: #808080;
	padding: 4px 8px;
	box-sizing: border-box;
}

