
header#main-header{
	border-bottom: 1px solid #dddddd;
	border-top: 1px solid #dddddd;

	width: 100%;
	box-sizing: border-box;
	padding: 10px 40px;

	display: flex;
	justify-content: space-between;

	position: sticky;
	top: 0;

	background-color: #ffffff;
	z-index: 20;
}

div.logo-container{
	width: fit-content;
	box-sizing: border-box;

	display: flex;
	align-items: center;
}

#btn-hide-sidebar{
	border: none;
	width: fit-content;
	display: flex;
	padding: 2px;
	margin-right: 20px;
	background-color: #ffffff;
	border-radius: 50%;
}

#btn-hide-sidebar:hover{
	background-color: #f2f2f2;
}

#btn-hide-sidebar span{
	font-size: 25px;
}

.logo-title{
	font-size: 32px;
	font-family: "candal-regular", sans-serif;
	color: #0099cc;
	outline: none;
}

div.btn-options-container{
	width: 10%;
	box-sizing: border-box;

	display: flex;
	align-items: center;
	justify-content: space-between;
}

#btn-dropdown-settings, 
#btn-show-notification{
	border: none;
	width: fit-content;

	display: flex;

	position: relative;

	background-color: transparent;
}

#btn-dropdown-settings span, 
#btn-show-notification span{
	font-size: 2em;
	color: #4d4d4d;
	border-radius: 10px;
}

#btn-show-notification i{
	position: absolute;
	right: -2px;
	bottom: -2px;

	font-family: "raleway-semibold", sans-serif;
	font-size: 0.9em;
	padding: 0px 5px;
	padding-bottom: 2px;
	border-radius: 50%;

	color: #ffffff;
	background-color: #ff0000;
}

/*dropdown container*/
.dropdown-settings{
	width: 150px;
	box-sizing: border-box;

	background-color: #ffffff;
	box-shadow: 1px 1px 1px #dddddd;
	border-radius: 6px;

	padding: 2px;
	position: absolute;
	right: -110%;
	top: 50px;
	
	z-index: 99;
	display: none; /*none or block*/
}

.dropdown-settings::after {
  content: "";
  position: absolute;
  top: -28%;
  left: 47%;
  margin-left: -5px;
  border-width: 15px;
  border-style: solid;
  border-color: transparent transparent #ffffff transparent;
}

.setting-links{
	/*border: 1px solid;*/
	display: block;
	width: 100%;
	box-sizing: border-box;

	text-align: left;
	padding: 8px 12px;
	color: #4d4d4d;
	font-family: "raleway-medium", sans-serif;
	font-size: 14px;

	padding-left: 8px;
}

.setting-links:hover{
	background-color: #f2f2f2;
}

#btn-dropdown-settings:hover .dropdown-settings{
	display: block;
}
.notification-animation > span{
	animation-name: animation-notification;
	animation-delay: 1s;
	animation-duration: 0.2s;
	animation-iteration-count: infinite;
}

/*animations*/
@keyframes animation-notification{
	0%{transform: rotate(30deg);}
	50%{transform: rotate(-30deg);}
	100%{transform: rotate(0deg);}
}