
div#outside-container{
    width: 100%;
    height: 100%;

    display: flex;
    align-items: flex-start;
    z-index: 0;
}

div#inside-container{
	/*border: 1px solid red;*/
	width: 82%;

	position: sticky;
	top: 0;
	left: 18%;
	transition: 1s all ease;

	z-index: 0;
}

main{
	/*border: 1px solid;*/
	width: 100%;
	height: 1000px;
	background-color: #f2f2f2;

	z-index: 0;
	overflow: hidden;
}
